openapi: 3.0.1
info:
  title: crt.sh REST API
  description: crt.sh REST API documentation by litetex
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
externalDocs:
  description: crt.sh Advanced Search
  url: https://crt.sh/?a=1
servers:
  - url: https://crt.sh
tags:
  - name: search
paths:
  /:
    get:
      tags:
        - "search"
      operationId: search
      parameters:
        - name: output
          in: query
          schema:
            type: string
            enum:
              - json
          required: true
        - name: q
          in: query
          schema:
            type: string
          description: 'Standard search query'
          example: 'example.org'
          # v- SEARCH OPTIONS -v
        - name: exclude
          in: query
          schema:
            type: string
            enum:
              - expired
        - name: deduplicate
          in: query
          schema:
            type: string
            enum:
              - Y
        - name: match
          in: query
          schema:
            type: string
            enum:
              - '==' # =
              - 'ILIKE'
              - 'LIKE'
              - 'single'
              - 'any'
              - 'FTS' # Fulltext search
          description: 'Identity matching'
        - name: custom_fields
          in: query
          schema:
            type: object
          description: 'To add custom named fields, just add your field names and their values'
      responses:
        '200':
          description: Returned if the request was successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Certificate'
      deprecated: false
components:
  schemas:
    Certificate:
      type: object
      readOnly: true
      properties:
        issuer_ca_id:
          type: integer
          format: int64
        issuer_name:
          type: string
        common_name:
          type: string
        name_value:
          type: string
        id:
          type: number
          format: int64
        entry_timestamp:
          type: string
          description: 'This is a date however the offset at the end (Z) is missing (as specified in RFC3339)'
        not_before:
          type: string
          description: 'This is a date however the offset at the end (Z) is missing (as specified in RFC3339)'
        not_after:
          type: string
          description: 'This is a date however the offset at the end (Z) is missing (as specified in RFC3339)'
        serial_number:
          type: string
        result_count:
          type: number
